tests/source/obj/*.o
tests/source/*.log
tests/source/ModelEngineTests
samples/life/bin/*.log
samples/life/bin/*.so
samples/life/bin/LifeModel
samples/life/source/obj/*.o
samples/particle/bin/*.log
samples/particle/bin/*.so
samples/particle/bin/ParticleModel
samples/particle/source/obj/*.o
tests/source/ModelEngineRecord.csv
samples/record/*
!samples/record/readme.txt
tests/source/ModelEngineTests
tests/record/*
include/ConfigurationRepository.h
include/sdk/SensorInputProxy.h
include/sdk/KeyListener.h
include/sdk/ModelInitializerProxy.h
include/sdk/ModelUi.h
include/Log.h
include/Recorder.h
Initializers/*
SensorInputs/*
