tests/source/obj/*.o
tests/source/*.log
tests/source/ModelEngineTests
samples/life/bin/*.log
samples/life/bin/*.so
samples/life/bin/LifeModel
samples/life/source/obj/*.o
samples/particle/bin/*.log
samples/particle/bin/*.so
samples/particle/bin/ParticleModel
samples/particle/source/obj/*.o
tests/source/ModelEngineRecord.csv
